* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}


.logo-mario {
    height: 200px;
    margin-left: 50px;
}

button {
    font-weight: 600;
    letter-spacing: 0.3px;
    text-align: center;
    text-transform: uppercase;
    border: 0;
    padding: 10px 0;
    border-radius: 5px;
    background-color: #C51111;
    width: 200px;
    height: 50px;
    color: white;
    cursor: pointer;
    margin-top: 30px;
}

.img-marioeluigi {
    height: 500px;
}

body {
    height: 100vh;
}

.caixa-principal {
    width: 40%;
}

.caixa-video {
    position: fixed;
    top: 0;
    z-index: -1;
}

.caixa-mae {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
    height: 100vh;
}

video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}

.mascara {
    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
}

.link-whatsapp img {
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

p {
    color: white;
    font-size: 15px;
}

header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px;
}
header img {
    height: 60px;
}
header a {
    color: white;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
}
header a:hover {
    color: #C51111;
    font-size: 26px;
    transition: 0.5s ease-in-out;
}

button:hover {
    color: #4c0505;
    font-size: 15px;
    transition: 0.5s ease-in-out;
}

.whats:hover {
    transition: 0.5s ease-in-out;
    height: 80px;
}

.formulario-fale-conosco {
    position: fixed;
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
    top: 30%;
    left: -330px;
    transition: left 1s ease-in-out;
}

input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 10px;
    outline-color: #C51111;
}

textarea {
    height: 80px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 10px;
    outline-color: #C51111;
    padding: 10px;
}

.mascara-formulario {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    transition: visibility 1s ease-in-out;
}